@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


*{
    padding: 0;
    margin: 0;
  
    overflow-y: hidden;
}

.body{
   
  
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

#board{
background: linear-gradient(rgb(168, 220, 168) , rgb(222, 222, 171));
width: 90vmin;
height: 92vmin;
border: 2px solid black;
display: grid;
grid-template-rows: repeat(18,1fr);
grid-template-columns: repeat(18,1fr);


}

.head{
    background:  linear-gradient(rgb(220, 169, 169),rgb(221, 221, 164));
    border: 2px solid rgb(91, 7, 91);
    transform: scale(1.02);
    border-radius: 9px;

}
.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
.snake{
   background-color: purple;
   border: .25vmin solid white;
   border-radius: 12px;
}
#Score,#hiScore{
    font-family: "Workbench", sans-serif;
    position: absolute;
    top: 9px;
    right: 100px;
    font-size: 39px;
    font-weight: bold;
}
#hiScore{
    top: 60px;
}